<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAS EU || contact</title>
  <link rel="shortcut icon" href="../img/logo2.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/contact.css">
</head>

<body class="dark">

  <div class="background"></div>
  <header>
    <div class="container">
      <ul>
        <li>
          <a href="#" class="Logo">
            <h2>MAS EU</h2>
          </a>
        </li>
        <li><a href="../index.html" class="nav-link">Home</a></li>
        <li>
          <span class="nav-link theme-toggle">
            <i class="fa-solid fa-sun"></i>
            <i class="fa-solid fa-moon"></i>
          </span>
        </li>
      </ul>
    </div>
  </header>

  <main>
    <section class="contact">
      <div class="container">
        <div class="left">
          <div class="form-wrapper">
            <div class="contact-heading">
              <div class="up">
                <h1>Contact me.</h1>
              </div>
              <div class="down">
                <a href="https://www.facebook.com/www.mantenimientoseu.com.co/" target="_blank">
                  <i class="fa-brands fa-facebook fa-xl" ></i>
                </a>
                <a href="https://instagram.com/mantenimientos_asesorias_eu?igshid=MzMyNGUyNmU2YQ==" target="_blank">
                  <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
                <a href="https://wa.link/qmor3j" target="_blank">
                  <i class="fa-brands fa-whatsapp fa-xl"></i>
                </a>
              </div>
               
            </div>
            
            <form action="../php/mail.php" method="post" class="contact-form">
              <div class="up">
                <div aling="center" class="requerimientos">
                  <h1>Tipo de requerimiento</h1> 
                </div>
             
                <select name="selecciones" id="selecciones">
                  <option value="Circuitos Eléctricos de Alumbrado Público y Comunal.">Circuitos Eléctricos de Alumbrado Público y Comunal.</option>
                  <option value="Higienización de Tanques de Almacenamiento de Agua Potable.">Higienización de Tanques de Almacenamiento de Agua Potable.</option>
                  <option value="Limpieza de pozos septicos y trampa grasas.">Limpieza de pozos septicos y trampa grasas.</option>
                  <option value="Maquinaria Beneficio del Café y Motores Diesel.">Maquinaria Beneficio del Café y Motores Diesel.</option>
                  <option value="Plantas Eléctricas de Emergencia y Transferencias Automáticas.">Plantas Eléctricas de Emergencia y Transferencias Automáticas.</option>
                  <option value="Sistemas de Bombeo en Plantas Procesadoras de Aguas Negras.">Sistemas de Bombeo en Plantas Procesadoras de Aguas Negras.</option>
                  <option value="Sistemas de Bombeo para Aguas Lluvias y Extinción de Incendios.">Sistemas de Bombeo para Aguas Lluvias y Extinción de Incendios.</option>
                  <option value="Sistemas de Bombeo para Tratamiento de Agua en Piscinas.">Sistemas de Bombeo para Tratamiento de Agua en Piscinas.</option>
                  <option value="Sistemas de Presión Constante y Bombeo Tanque a Tanque.">Sistemas de Presión Constante y Bombeo Tanque a Tanque.</option>
                  <option value="Electrobombas lapicero de 3 hp.">Electrobombas lapicero de 3 hp.</option>
                  <option value="Electrobombas lapicero de 5 hp.">Electrobombas lapicero de 5 hp.</option>
                  <option value="Electrobombas lapicero de 10 hp.">Electrobombas lapicero de 10 hp.</option>
                  <option value="Electrobombas lapicero de 20 hp.">Electrobombas lapicero de 20 hp.</option>
                  <option value="Tanques hidroacumuladores tipo diafragma de 100 litros.">Tanques hidroacumuladores tipo diafragma de 100 litros.</option>
                  <option value="Tanques hidroacumuladores tipo diafragma de 200 litros.">Tanques hidroacumuladores tipo diafragma de 200 litros.</option>
                  <option value="Tanques hidroacumuladores tipo diafragma de 300 litros.">Tanques hidroacumuladores tipo diafragma de 300 litros.</option>
                  <option value="Tanques hidroacumuladores tipo diafragma de 450 litros.">Tanques hidroacumuladores tipo diafragma de 450 litros.</option>
                  <option value="Electrobombas tipo caracol monofasica y trifasica de 0.5 hp.">Electrobombas tipo caracol monofasica y trifasica de 0.5 hp.</option>
                  <option value="Electrobombas tipo caracol monofasica y trifasica de 1 hp.">Electrobombas tipo caracol monofasica y trifasica de 1 hp.</option>
                  <option value="Electrobombas tipo caracol monofasica y trifasica de 1.5 hp.">Electrobombas tipo caracol monofasica y trifasica de 1.5 hp.</option>
                  <option value="Electrobombas tipo caracol monofasica y trifasica de 2 hp.">Electrobombas tipo caracol monofasica y trifasica de 2 hp.</option>
                  <option value="Electrobombas tipo caracol monofasica y trifasica de 3 hp.">Electrobombas tipo caracol monofasica y trifasica de 3 hp.</option>
                  <option value="Electrobombas tipo caracol monofasica y trifasica de 5 hp.">Electrobombas tipo caracol monofasica y trifasica de 5 hp.</option>
                  <option value="Electrobombas tipo caracol monofasica y trifasica de 10 hp.">Electrobombas tipo caracol monofasica y trifasica de 10 hp.</option>
                  <option value="Electrobombas sumergibles tipo de aguas lluvias de 0.5 hp.">Electrobombas sumergibles tipo de aguas lluvias de 0.5 hp.</option>
                  <option value="Electrobombas sumergibles tipo de aguas lluvias de 1 hp.">Electrobombas sumergibles tipo de aguas lluvias de 1 hp.</option>
                  <option value="Electrobombas sumergibles tipo de aguas lluvias de 1.5 hp.">Electrobombas sumergibles tipo de aguas lluvias de 1.5 hp.</option>
                  <option value="Electrobombas sumergibles tipo de aguas lluvias de 2 hp.">Electrobombas sumergibles tipo de aguas lluvias de 2 hp.</option>
                  <option value="Electrobombas sumergibles tipo de aguas lluvias de 3 hp.">Electrobombas sumergibles tipo de aguas lluvias de 3 hp.</option>
                  <option value="Electrobombas sumergibles tipo de aguas lluvias de 5 hp.">Electrobombas sumergibles tipo de aguas lluvias de 5 hp.</option>
                  <option value="Electrobombas sumergibles tipo de aguas lluvias de 10 hp.">Electrobombas sumergibles tipo de aguas lluvias de 10 hp.</option>
                  <option value="Electrobombas sumergibles tipo trituradora de 0.5 hp.">Electrobombas sumergibles tipo trituradora de 0.5 hp.</option>
                  <option value="Electrobombas sumergibles tipo trituradora de 1 hp.">Electrobombas sumergibles tipo trituradora de 1 hp.</option>
                  <option value="Electrobombas sumergibles tipo trituradora de 1.5 hp.">Electrobombas sumergibles tipo trituradora de 1.5 hp.</option>
                  <option value="Electrobombas sumergibles tipo trituradora de 2 hp.">Electrobombas sumergibles tipo trituradora de 2 hp.</option>
                  <option value="Electrobombas sumergibles tipo trituradora de 3 hp.">Electrobombas sumergibles tipo trituradora de 3 hp.</option>
                  <option value="Electrobombas sumergibles tipo trituradora de 5 hp.">Electrobombas sumergibles tipo trituradora de 5 hp.</option>
                  <option value="Electrobombas sumergibles tipo trituradora de 10 hp.">Electrobombas sumergibles tipo trituradora de 10 hp.</option>
    
                </select>
              </div>
              <div class="down">
                <div class="up">
                  <div class="input-wrap">
                    <input id="firts_name" class="contact-input" autocomplete="off" name="firts_name" type="text" required>
                    <label>First name</label>
                    <i class="icon fa-solid fa-address-card"></i>
                  </div>
                  <div class="input-wrap">
                    <input id="last_name" class="contact-input" autocomplete="off" name="last_name" type="text" required>
                    <label>Last name</label>
                    <i class="icon fa-solid fa-address-card"></i>
                  </div>
                </div>
                
                <div class="input-wrap textarea w-100">
                  <input type="email" class="contact-input" autocomplete="off" name="email" required id="email">
                  <label>email</label>
                  <i class="icon fa-solid fa-envelope"></i>
                </div>
                
                <div class="input-wrap textarea w-100">
                  <input class="contact-input" autocomplete="off" name="message" required id="message">
                  <label>Message</label>
                  <i class="icon fa-solid fa-inbox"></i>
                </div>
              </div>
              <div class="contact-buttons">
                <input type="submit" value="Send message" class="btn"  name="send">
              </div>

            </form>
          </div>
        </div>
        <div class="right">
          <div class="image-wrapper">
            <img src="../img/eu.jpg" class="img" alt="">
            <div class="wave-wrap">
                <svg class="wave" viewBox="0 0 783 1536" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="wave" d="M236.705 1356.18C200.542 1483.72 64.5004 1528.54 1 1535V1H770.538C793.858 63.1213 797.23 196.197 624.165 231.531C407.833 275.698 274.374 331.715 450.884 568.709C627.393 805.704 510.079 815.399 347.561 939.282C185.043 1063.17 281.908 1196.74 236.705 1356.18Z"/>
                </svg>
            </div>
            <svg class="dashed-wave" viewBox="0 0 345 877" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="dashed-wave" d="M0.5 876C25.6667 836.167 73.2 739.8 62 673C48 589.5 35.5 499.5 125.5 462C215.5 424.5 150 365 87 333.5C24 302 44 237.5 125.5 213.5C207 189.5 307 138.5 246 87C185 35.5 297 1 344.5 1"/>
            </svg>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
  <script src="../js/contact.js"></script>
</body>

</html>